<% provide(:title, "About") %>
<div class="readable-width">
    

<h1>About RDSG</h1>
<div class="center content">
    <p>This is a simple web app developed by Danielle Cushing (Dany Stormborn) to fulfill the desires of creating a RoR app from scratch and to feed my ever-growing roller derby obsession.</p>
    
    <p>Okay for real though, I'm learning to program and I wanted to make something that was a little different (and a little more interesting) than the generic blog or Twitter clone tutorials. If you're confused as to what roller derby is all about, here's a few websites I recommend you check out:</p>
    <p><a href="http://www.wftda.com/" target="_blank">Women's Flat Track Derby Association (WFTDA)</a></p>
    <p><a href="http://wftda.tv/" target="_blank">WFTDA footage archives</a></p>
    <p><a href="https://www.facebook.com/SeacoastNHRollerDerby" target="_blank">Seacoast Roller Derby (the league I skate with)</a></p>
    
    <p>There's a couple of movies about roller derby. I'm a huge fan of <a href="http://www.imdb.com/title/tt1172233/" target="_blank">Whip It! (2009)</a>, but it's not quite how the roller derby I play works.</p>
    <p>Want to let me know how I'm doing? <a href="http://goo.gl/forms/jodbhzyz1y" target="_blank">Let me know--I'd really appreciate it!'</a></p>
</div>
    
</div>