<% provide(:title, "About") %>
<h1>About RDSG</h1>
<div class="center content">
    <p>This is a simple web app developed by Danielle Cushing (Dany Stormborn) to fulfill the desires of creating a RoR app from scratch and to feed my ever-growing roller derby obsession.</p>
</div>