<% provide(:title, "Contact") %>
<h1>Contact me!</h1>
<div class="center content">
    <p>I'm on GitHub <a href="https://github.com/dcushing" target="_blank">here</a></p>
    <p><a href="http://daniellecushing.net" target="_blank">Here's</a> my website</p>
    <p>Email me at danielle at daniellecushing dot net</p>
</div>