<% provide(:title, "Contact") %>
<div class="readable-width">

<h1>Contact me!</h1>
<div class="center content">
    <p>I'm on GitHub <a href="https://github.com/dcushing" target="_blank">here</a></p> (this is also where <a href="https://github.com/dcushing/roller-derby-skills-grader" target="_blank">the code</a> for this app is posted)
    <p><a href="http://daniellecushing.net" target="_blank">Here's</a> my personal website</p>
    <p>Email me at danielle at daniellecushing dot net</p>
    <p>Feedback? <%= link_to 'Submit it here.', '#' %></p>
</div>
    
</div>