<% provide(:title, "Help") %>
<h1>RDSG Help</h1>
<div class="center">
    <p>The plan for this app, once it's finished, will be to include functionality for users to sign up, fill out a basic profile, and add/remove skills and grade themselves on their skill level.</p>
    <p>Eventually, I'd like to add i18n, as I have a background in linguistics and foreign languages and want to incorporate that in any way that I can.</p>   
    <p>Dany Stormborn: bringing a roller derby obession to the non-English-speaking world since 2015.</p>    
</div>
