<h1>Roller Derby Skills Grader</h1>

<p>Hi, <%= @user.display_name %>!</p>

<p>Welcome to the Roller Derby Skills Grader. Click on the link below to gear up and activate your email:</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
