<% provide(:title, @user.name) %>
<div class="row">
    <%= render partial: 'shared/user_info' if current_user %>
    <div class="col-md-9">
        <% if @user.skills.any? %>
        <h3>Skills (<%= @user.skills.count %>)</h3>
        <ul class="skills">
            <%= render @skills %>
        </ul>
        <% end %>
        <%= link_to "Add New Skill", new_skill_path %>
    </div>
</div>